################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeePortal.Core/.vs/EmployeePortal.Core
/EmployeePortal.Core/bin/Debug/net6.0
/EmployeePortal.Core/obj
/EmployeePortal.Data/bin/Debug/net6.0
/EmployeePortal.Data/obj
/EmployeePortal.Services/bin/Debug/net6.0
/EmployeePortal.Services/obj
/EmployeePortal.Api/obj
/EmployeePortal.Api/.vs/EmployeePortal.Api
/.vs
/.vscode
/EmployeePortal.Api/bin/Debug
/EmployeePortal.Api/Logs/api
/obj
/EmployeePortal.Core/Migrations/20240701080454_Init.cs
/EmployeePortal.Core/Migrations/20240701080454_Init.Designer.cs
EmployeePortal.Core/Migrations/20240730071243_Init.cs
EmployeePortal.Core/Migrations/20240730071243_Init.Designer.cs
/EmployeePortal.Core/Migrations/20240827094618_Init2.cs
/EmployeePortal.Core/Migrations/20240827094618_Init2.Designer.cs
/.gitignore
/.gitignore
.gitignore
/EmployeePortal.Core/Migrations
EmployeePortal.Core/Migrations/20240826131101_addHalfDays.cs
EmployeePortal.Core/Migrations/20240826131101_addHalfDays.cs
EmployeePortal.Core/Migrations/20240827094618_Init2.cs
EmployeePortal.Core/Migrations/20240827094618_Init2.Designer.cs

//Manually added: 
/EmployeePortal.Core/bin/Release/net6.0
/EmployeePortal.Data/bin/Release/net6.0
/EmployeePortal.Services/bin/Release/net6.0
/EmployeePortal.Api/bin/Release/
/EmployeePortal.Api/Properties/PublishProfiles
